<div class= "retour d-flex align-items-center justify-content-start"><i class="fas fa-caret-left"></i><%= link_to "Retour", :back, class: "btn-retour", data: { turbolinks: 'false' } %></div>
<div class="container custom-container">
<div class="page-chat", style='background-image: url(<%= asset_path "run.jpg" %>)'>
    <div class="title-chat">
      <h1><i class="fas fa-comments"></i> TrainUp chats <i class="fas fa-comments"></i></h1>
    </div>
  <div class="side-bar d-flex">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% @unread_chatrooms = current_user.chatrooms.has_unread_messages(current_user) %>
        <% if @chatrooms.first.participants.where(user: current_user).present? %>
          <% @chatrooms.reverse.each_with_index do |chatroom, index| %>
            <% if index == 0 %>
              <% if @unread_chatrooms.include?(chatroom) %>
                <li class="nav-item" role="presentation" id="unread">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chat-<%= chatroom.id %>" role="tab" aria-controls="chat-<%= chatroom.id %>" araria-selected="true" turbolinks: {data: false}><%= chatroom.participants.where.not(user: current_user).first.user.first_name %> <%= chatroom.participants.where.not(user: current_user).first.user.last_name %></a>
                </li>
              <% else %>
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chat-<%= chatroom.id %>" role="tab" aria-controls="chat-<%= chatroom.id %>" aria-selected="true" turbolinks: {data: false}><%= chatroom.participants.where.not(user: current_user).first.user.first_name %> <%= chatroom.participants.where.not(user: current_user).first.user.last_name %></a>
                </li>
              <% end %>
            <% else %>
              <% if @unread_chatrooms.include?(chatroom) %>
                <li class="nav-item" role="presentation" id="unread">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#chat-<%= chatroom.id %>" role="tab" aria-controls="chat-<%= chatroom.id %>" aria-selected="false" turbolinks: {data: false}><%= chatroom.participants.where.not(user: current_user).first.user.first_name %> <%= chatroom.participants.where.not(user: current_user).first.user.last_name %></a>
                </li>
              <% else %>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#chat-<%= chatroom.id %>" role="tab" aria-controls="chat-<%= chatroom.id %>" aria-selected="false" turbolinks: {data: false}><%= chatroom.participants.where.not(user: current_user).first.user.first_name %> <%= chatroom.participants.where.not(user: current_user).first.user.last_name %></a>
                </li>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>

<div class="tab-content" id="myTabContent">
  <% @chatrooms.each_with_index do |chatroom, index| %>
    <% if index == 0 %>
      <div class="tab-pane fade show active" id="chat-<%= chatroom.id %>" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'chatroom', chatroom: chatroom, message: @message %>
      </div>
    <% else %>
      <div class="tab-pane fade" id="chat-<%= chatroom.id %>" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'chatroom', chatroom: chatroom, message: @message %>
      </div>
    <% end %>
  <% end %>
</div>

</div>

</div>

</div>
