<h1>Tes discussions</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <% if @chatrooms.first.participants.where(user: current_user).present? %>
      <% @chatrooms.each_with_index do |chatroom, index| %>
        <% if index == 0 %>
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chat-<%= chatroom.id %>" role="tab" aria-controls="chat-<%= chatroom.id %>" aria-selected="true">Chat <%= chatroom.id  %></a>
          </li>
        <% else %>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#chat-<%= chatroom.id %>" role="tab" aria-controls="chat-<%= chatroom.id %>" aria-selected="false">Chat <%= chatroom.id  %></a>
          </li>
        <% end %>
      <% end %>
    <% end %>
</ul>
<div class="tab-content" id="myTabContent">
  <% @chatrooms.each_with_index do |chatroom, index| %>
    <% if index == 0 %>
      <div class="tab-pane fade show active" id="chat-<%= chatroom.id %>" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'chatroom', chatroom: chatroom, message: @message %>
      </div>
    <% else %>
      <div class="tab-pane fade" id="chat-<%= chatroom.id %>" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'chatroom', chatroom: chatroom, message: @message %>
      </div>
    <% end %>
  <% end %>
  
</div>




