<div class="page-chat", style='background-image: url(<%= asset_path "run.jpg" %>)'>
<div class= "retour"><i class="fas fa-caret-left"></i><%= link_to "Retour", :back, class: "btn-retour", data: { turbolinks: 'false' } %></div>

<div class="chatroom d-flex flex-column align-items-center justify-content-center">
  <div class="title-chat">
    <h1><i class="fas fa-comments"></i> TrainUp chat <i class="fas fa-comments"></i></h1>
  </div>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
    <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <br>
  <%=  simple_form_for [ @chatroom, @message ], html: {class: "form-chat"}, remote: true do |f| %>
    <div class="input-chat d-flex justify-content-center">
      <%= f.input :content, label: false, placeholder: "Message"%>
    </div>
    <div class="btn-chat d-flex justify-content-center">
      <%= f.submit "Envoyer", class: "btn-green", id: "sent" %>
    </div>
  <% end %>
</div>
</div>
