<% content_for :meta_title, "TrainUp: sélectionne ton coach" %>
<% content_for :meta_description, "Trouve ton entraîneur, ton préparateur physique ou ton préparateur mental" %>
<% content_for :meta_image, cl_image_path("banner.png") %>

<div class="cont">
  <div class="title-index">
    <h1> <i class="fas fa-handshake"></i> TROUVE TON COACH ! <i class="fas fa-handshake"></i></h1>
  </div>

  <%= form_tag skills_path, method: :get do %>
    <div class="d-flex flex-row justify-content-between align-items-center flex-grow">
      <div class="justify-content-between form-tag-index">
        <%= select_tag "skill_name", options_for_select(Skill.pluck(:name).uniq, params[:skill_name]), class: "filters", prompt: 'Compétence' %>
        <%= select_tag "sport_id", options_for_select(Sport.pluck(:name, :id), params[:sport_id]), class: "filters", prompt: 'Sport' %>
        <%= select_tag "specialty", options_for_select(Experience.pluck(:specialty).uniq, params[:specialty] ), class: "filters", prompt: 'Spécialité' %>
        <%= text_field_tag "skill_location", '', size: 25, class: "filters", placeholder: "Adresse"%>
      </div>

      <div class="exp flex-column">
        <label for="customRange2", class= "label-exp">Expérience</label>
        <%= range_field_tag "exp_years", 0, min: 0, max: 5, class: "custom-range"%>
          <div class="d-flex flex-row justify-content-between">
            <label for="min" class="pull-left">0</label>
            <label for="max" class="pull-right">5 ans +</label>
          </div>
      </div>
      <div class="exp flex-column">
        <label for="customRange2", class= "label-exp">Prix</label>
        <%= range_field_tag "exp_price", 0, min: 30, max: 100, class: "custom-range"%>
        <div class="d-flex flex-row justify-content-between">
          <label for="min" class="pull-left">30</label>
          <label for="max" class="pull-right">100</label>
        </div>
      </div>

    <div>
      <%= submit_tag "Rechercher", class: "btn btn-primary" %>
    </div>
  </div>
   <% end %>

<div class="cards-map d-flex justify-content-between">
  <div class="container-cards">
  <% @skills.each do |skill| %>
    <div class="card-product">
      <%= link_to skill_path(skill), data: { turbolinks: 'false' } do %>
        <% if skill.user.photo.attached? %>
          <%= cl_image_tag skill.user.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />        <% end %>
      <% end %>

      <div class="card-product-infos">
        <%= link_to skill_path(skill), data: { turbolinks: 'false' } do %>
          <h2><%= skill.user.first_name.capitalize %> <%= skill.user.last_name.capitalize %></h2>
          <h1><%= skill.name.capitalize %></h1>
          <% skill.experiences.each do |experience| %>
            <% if experience.specialty.nil? %>
              <h2><i class="far fa-arrow-alt-circle-right"></i> <%=experience.sport.name.capitalize %> : <%= experience.years %> années d'expérience</h2>
              <h2 class = "price "><i class="fas fa-tags"></i> <%= experience.price %>€ / h</h2>
            <% else %>
              <h2><i class="far fa-arrow-alt-circle-right"></i> <%= experience.sport.name.capitalize %>, <%= experience.specialty.capitalize %> : <%= experience.years %> années d'expérience</h2>
              <h2 class = "price"><i class="fas fa-tags"></i> <%= experience.price %>€ / h</h2>
            <% end %>
          <% end %>
          <p><i class="fas fa-map-marker-alt"></i>  <%= skill.location.capitalize %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="map"
   style="width: 800px; height: 600px"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>


</div>
