<div class="container" id="form-design">
  <br>
  <h2>Trouve ton coach!</h2>
  <br>
  <%= form_tag skills_path, method: :get do %>
    <%= select_tag "skill_name", options_for_select(Skill::NAMES, params[:skill_name]), class: "form-control", prompt: 'Compétences' %>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>





    <br>

  <% @skills.each do |skill| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= skill.user.first_name.capitalize %> <%= skill.user.last_name.capitalize %></h2>
        <h1><%= skill.name.capitalize %></h1>
        <p><%= skill.location.capitalize %></p>
        <p><%= skill.description.capitalize %></p>
      </div>
    </div> 
  <% end %>

</div>
