<div class="container">
  <br>
  <h2>Trouve ton coach!</h2>
  <br>
  <%= form_tag skills_path, class: "filter-box", method: :get do %>
    <%= select_tag "skill_name", options_for_select(Skill.pluck(:name, :id), params[:skill_name]), class: "filters", prompt: 'Compétence' %>
    <%= select_tag "sport_id", options_for_select(Sport.pluck(:name, :id), params[:sport_id]), class: "filters", prompt: 'Sport' %>
    <%= select_tag "specialty", options_for_select(Experience.pluck(:specialty), params[:specialty]), class: "filters", prompt: 'Spécialité' %>
    <%= text_field_tag "skill_location", '', size: 75, class: "filters"%>
    <label for="customRange2", class= "label-exp">Expérience</label>
    <%= range_field_tag "exp_years", 0, min: 0, max: 5, class: "custom-range filters", prompt: 'Expérience' %>
    <%= submit_tag "Rechercher", class: "btn btn-primary" %>
  <% end %>

    <br>

  <% @skills.each do |skill| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= skill.user.first_name.capitalize %> <%= skill.user.last_name.capitalize %></h2>
        <h1><%= skill.name.capitalize %></h1>
        <% skill.experiences.each do |experience| %>
          <% if experience.specialty.nil? %>
            <h2><%= experience.sport.name.capitalize %> : <%= experience.years %> années d'expérience</h2>
          <% else %>
            <h2><%= experience.sport.name.capitalize %>, <%= experience.specialty.capitalize %> : <%= experience.years %> années d'expérience</h2>
          <% end %>
        <% end %>
        <p><%= skill.location.capitalize %></p>
      </div>
    </div> 
  <% end %>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
