<div class="profil-price-container">
	<div class="container-show">
		<div class="profile-price d-flex flex-row justify-content-between">
			<div class="show-card d-flex flex-row justify-content-between align-items-center">
				<div><%= cl_image_tag @skill.user.photo.key, class:"show-avatar"%></div>
				<div class="details-show d-flex flex-column">
					<div class="name"><%= @skill.user.first_name %> <%= @skill.user.last_name %></div>
					<div class="sport"><% @skill.experiences.each do |experience| %>
						<span><%= @skill.name %> - <%= experience.sport.name %></span>
						<% if experience.specialty %>
							 <div class="sport"><%= experience.specialty %></div>
						<% end %>
					  <% end %>
					</div>
				</div>
			 </div>
			<div class="price-euros align-self-start"><% @skill.experiences.each do |experience| %>
				<span class="price"><%= experience.price%></span> € /h<span>   <i class="fas fa-tags logo-price"></i></span>
				<% end %>
			</div>
		</div>		
	</div>
</div>

<div class="container-show">
	<div class="show d-flex flex-column">

		<div class="profile-video-calandar d-flex flex-row justify-content-between">
			<div class="competences-video d-flex flex-column">
				<div class="competences d-flex flex-column justify-content-around">
					<% if current_user != @skill.user %>
						<h1>Son profil</h1>
					<% else %>
						<h1>Ton profil</h1>
					<% end %>
					<% @skill.experiences.each do |experience|%>
						<div class="comp d-flex flex-row align-items-center"><i class="far fa-arrow-alt-circle-right"></i> <div class="comp-text"><%= experience.years %> années d'expérience</div>
						</div>
						<% end %>
						<div class="comp d-flex flex-row"><i class="fas fa-handshake hands"></i> <div class="comp-text"><%= @skill.description %></div></div>
						<div class="comp d-flex flex-row align-items-center"><i class="fas fa-map-marker-alt"></i> <div class="comp-text"><%= @skill.location %></div></div>
				</div>
				<div class="ligne align-self-center"></div>	
				<div class="video-show">
					<h1>Video d'une séance</h1>
					</br>
					<div class="video-container d-flex justify-content-center align-items-center">
						<% if @skill.video.attached? %>
							<div class="video-container d-flex justify-content-center align-items-center">
							  <%= cl_video_tag @skill.video.key, :width => 300, source_types: :mp4, controls: true %>
							</div>
						<% else %>
						<video class="video-tape" controls width="250">
					    	<source src= "<%= asset_path('video.mp4') %>"
					            type="video/mp4">
						</video>
						<% end %>
					</div>
				</div>
			</div>

			<% if current_user != @skill.user %>
				<div class="calandar">
					<h1>Réservation</h1>
					<div class="booking-form d-flex justify-content-around align-center">
				    	<%= simple_form_for([@skill, @booking]) do |f| %>
					      <%= f.input :start_date, as: :string, required: false, label: "date de la séance", input_html: {class: "datepicker date"} %>
					      <%= f.input :start_hour, as: :string, required: false, label: false, input_html: {class: "hourpicker start"} %>
					      <%= f.input :end_hour, as: :string, required: false, label: false, input_html: {class: "hourpicker end"} %>
					    <p>Prix total : <span id="total-price"></span>€ </p>
					      <%= f.button :submit, "Réserver", class: "btn-green" %>
					   <% end %>`
			   		</div>
				</div>	
			<% else %>
			<div class="btn-delete"><%= link_to "Supprime ta compétence", skill_path, method: :delete, data: {confirm: "Es-tu sûr ?"}, class: "btn-green" %></div>
			<% end %>
		</div>


		<% if @skill.reviews.present? %>
			<div class="comment">
				<h1>Commentaires</h1>
				<% @skill.reviews.each do |review| %>
					<div class="review d-flex flex-column">
  						<div class="name-rating d-flex flex-row justify-content-between">
		      				<%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %>
							
							<div class="rating d-flex flex-row">
								<% count = 0 %>
								<% review.rating.times do %>
	              					<i class="fas fa-star star"></i>
	              					<% count += 1 %>
	              				<% end %>
	              				<% (5-count).times do %>
	              					<i class="far fa-star"></i>
	              				<% end %>
	              		    </div>
	              		</div>
					 	<div class="content"><%= review.content %></div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>			
</div>

<!-- 	<div class="right-run"> -->
 		<%#= image_tag "right-runners.svg", class: "run" %>
	<!-- </div>  -->









