<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner.png" %>)'>
  <div class="container">
  <!--   <h1>Améliore tes compétences <span id="textFade">techniques</span> !</h1> -->
	<h1>Améliore tes compétences <span class="fade-in" id="banner-typed-text">techniques</span></h1>

	<%= form_tag skills_path, method: :get do %>
	  <%= text_field_tag :query,
	    params[:query],
	    class: "form-control",
	    placeholder: "Coach escrime Paris"
	  %>
	  <%= submit_tag "Search", class: "btn btn-green" %>
	<% end %>

	<%= link_to skills_path do %>
		<div class="btn-green">Trouve ton coach</div>
	<% end %>
  </div>
</div>


<div class="container">
	<div class="home-cards d-flex justify-content-between">
		<div class="home-card">
	    	<%= image_tag "home-run.png", class:"home-card-image" %>
	    	<h2>Des pros spécialistes de ton sport</h2>
	     </div>
		<div class="home-card">
	    	<%= image_tag "home-fusee.png", class:"home-card-image" %>
	    	<h2>Réservation rapide</h2>
	    </div>
		<div class="home-card">
	    	<%= image_tag "home-calandar.png", class:"home-card-image" %>
	    	<h2>À la carte</h2>
	    </div>
	</div>
</div>

