<h2>Ton profil :</h2>

<% if current_user.skills.empty? %>
  <div class="profile-container">
      <h4>Ton identité :</h4>
      <div class="identity">
        <p><span class="bold">Nom :</span> <%= current_user.last_name.capitalize %></p>
        <p><span class="bold">Prénom : </span><%= current_user.first_name.capitalize %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= current_user.address %></p>
        <p><i class="fas fa-at"></i> <%= current_user.email %></p>
        <%= link_to "Modifier", edit_user_registration_path, class: "btn-green" %>
      </div>
      <h4>Tes réservations en cours :</h4>
      <div class="reservations-en-cours">
          <% current_user.bookings.live.each do |booking| %>
            <p><%= booking.skill.user.first_name.capitalize %> <%= booking.skill.user.last_name.capitalize %></p>
            <p><i class="far fa-calendar-alt"></i> <%= booking.start_date %></p>
            <p><i class="far fa-clock"></i> <%= booking.start_date %> à :<%= booking.end_date %></p>
            <p>Total : </p>
            <% if policy(booking).destroy? %>
              <%= link_to "Annuler", profile_path, method: :delete, data: {confirm: "Are you sure ?"}, class: "btn-green" %>
            <% end %>
          <% end %>
      </div>
      <h4>Tes réservations passées :</h4>
      <div class="reservations-past">
          <% current_user.bookings.past.each do |booking| %>
            <p><%= booking.skill.user.first_name.capitalize %> <%= booking.skill.user.last_name.capitalize %></p>
            <p><i class="far fa-calendar-alt"></i> <%= booking.start_date %></p>
            <p><i class="far fa-clock"></i> <%= booking.start_date %> à :<%= booking.end_date %></p>
            <p>Total : </p>

            <%= link_to "Laisse ton commentaire", new_booking_review_path(booking) %>
          <% end %>
      </div>
  </div>

<% else %>
  <div class="profile-coach-container">
    <div class="profile-identity">
      <h4>Ton identité :</h4>
        <div class="identity">
          <p><span class="bold">Nom : </span><%= current_user.last_name.capitalize %></p>
          <p><span class="bold">Prénom : </span><%= current_user.first_name.capitalize %></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= current_user.address %></p>
          <p><i class="fas fa-at"></i> <%= current_user.email %></p>
            <%= link_to "Modifier", edit_user_registration_path, class: "btn-green" %>
        </div>
        <h4>Ta séance : </h4>
        <div class="seance">
          <% current_user.skills.each do |skill|  %>
            <p><span class="bold">Description : </span><%= skill.description %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= skill.location %></p>
            <p>Tarif : </p>
          <% end %>
        </div>
        <h4>Ta vidéo : </h4>
        <div class="video">
          <%= link_to "Modifier", edit_user_registration_path, class: "btn-green" %>
        </div>
    </div>
    <div class="profile-reservations">
      <h4>Tes réservations en cours :</h4>
      <div class="reservations-en-cours">
          <% current_user.bookings.live.each do |booking| %>
            <p><%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
            <p><i class="far fa-calendar-alt"></i> <%= booking.start_date %></p>

  
            <p><i class="far fa-clock"></i> <%= booking.start_date %> à :<%= booking.end_date %></p>
            <p>Total : </p>
            <% if policy(booking).destroy? %>
              <%= link_to "Annuler", profile_path, method: :delete, data: {confirm: "Are you sure ?"}, class: "btn-green" %>
            <% end %>
          <% end %>
      </div>
      <h4>Les commentaires clients :</h4>
      <div class="reviews">
          <div class="reviews-coach">
            <% @reviews_last.each do |review| %>
              <p><%= review.first_name.capitalize %> <%= review.last_name.first %></p>
              <p><%= review.content %></p>
              <p><%= review.rating %></p>
            <% end %>
          </div>
      </div>
    </div>

    <div class="coach-as-user">
      <h4>Tes réservations en tant qu'utilisateur :</h4>
      <div class="reservations-coach-as-user">
        <% current_user.bookings.live.each do |booking| %>
          <p><%= booking.skill.user.first_name.capitalize %> <%= booking.skill.user.last_name.capitalize %></p>
          <p><i class="far fa-calendar-alt"></i> <%= booking.start_date %></p>
          <p><i class="far fa-clock"></i> <%= booking.start_date %> à :<%= booking.end_date %></p>
          <p>Total : </p>
            <% if policy(booking).destroy? %>
              <%= link_to "Annuler", profile_path, method: :delete, data: {confirm: "Are you sure ?"}, class: "btn-green" %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

