<% if current_user.skills.empty? %>
  <div class="container-profile">
    <div class="profile-identity">
      <div class="profile-image">
        <%= cl_image_tag @current_user.photo.key, id: "show-profile", crop: :thumb, gravity: :face %>
      </div>
      <div class="profile-infos">
        <p><span class="bold">Nom : </span><%= current_user.last_name.capitalize %></p>
        <p><span class="bold">Prénom : </span><%= current_user.first_name.capitalize %></p>
        <p><i class="fas fa-birthday-cake"></i> <%= current_user.birth_date.strftime("%e %m %Y") %></p>
        <p><i class="fas fa-venus-mars"></i> <%= current_user.sex %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= current_user.address %></p>
        <p><i class="fas fa-at"></i> <%= current_user.email %></p>
        <br>
        <%= link_to "Modifier", edit_user_registration_path, class: "btn-green client", id: "user-modif" %>
      </div>
    </div>

    <div class="profile-tableau">
      <h3 class="titre"><i class="far fa-clipboard"></i> Tableau de bord</h3>
      <hr>
      <div class="profile-resas">
        <div class="resas-en-cours">
          <h3>Réservations en cours<i class="fas fa-caret-down"></i></h3>
          <% if current_user.bookings.live.any? %>
              <% current_user.bookings.live.each do |booking| %>
                <div class="reservations-en-cours">
                  <p><span class="bold"><%= booking.skill.user.first_name.capitalize %> <%= booking.skill.user.last_name.capitalize %></span></p>
                  <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.to_date.strftime("%e %m %Y")%></p>
                  <p><i class="far fa-clock"></i> <%= booking.start_hour %>h à <%= booking.end_hour %>h</p>
                  <hr>
                  <div class="link-client">
                    <p>Total : <%= booking.total_price %> €</p>
                    <p>Statut : <%= booking.status %></p>
                    <% if policy(booking).destroy? %>
                      <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, booking_path(booking), method: :delete, data: {confirm: "Es-tu sûr d'annuler cette réservation ?"}, class: "btn-green" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
          <% else %>
              <div class="reservations-en-cours">
                <p>Tu n'as aucune réservation en cours...</p>
              </div>
          <% end %>
        </div>
        <div class="resas-passees">
          <h3>Réservations passées<i class="fas fa-caret-down"></i></h3>
          <% if current_user.bookings.past.any? %>
            <div class="reservations-past">
              <% current_user.bookings.past.each do |booking| %>
                <p><span class="bold"><%= booking.skill.user.first_name.capitalize %> <%= booking.skill.user.last_name.capitalize %></span></p>
                <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.to_date.strftime("%e %m %Y") %></p>
                <p><i class="far fa-clock"></i> <%= booking.start_hour %>h à <%= booking.end_hour %>h</p>
                <hr>
                <p>Total : <%= booking.total_price %> €</p>
                <br>
                <div class="link-review">
                <% if policy(booking.reviews).create? %>
                  <%= link_to "Laisse un commentaire", skill_path(booking.skill, anchor: "comment"), class: "btn-green" %>
                <% end %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="reservations-past">
              <p>Tu n'as aucune réservation passée...</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<!-- page coach -->
<% else %>
  <div class="container-profile-coach">
    <div class="profile-tableau-client">
      <h3 class="titre"><i class="far fa-clipboard"></i> Tableau de bord client</h3>
      <hr>
      <div class="coach-as-user-resas">
        <h3>Réservations en cours<i class="fas fa-caret-down"></i></h3>
        <% if current_user.bookings.live.any? %>
            <% current_user.bookings.live.each do |booking| %>
              <div class="reservations-coach-as-user">
                <p><span class="bold">Ton coach :</span> <%= booking.skill.user.first_name.capitalize %> <%= booking.skill.user.last_name.capitalize %></p>
                <p><span class="bold"><%= booking.skill.name %></span></p>
                <p><i class="far fa-calendar-alt"></i> <%= booking.start_date.to_date.strftime("%e %m %Y") %></p>
                <p><i class="far fa-clock"></i> <%= booking.start_hour %>h à <%= booking.end_hour %>h</p>
                <hr>
                <p>Total : <%= booking.total_price %> €</p>
                  <% if policy(booking).destroy? %>
                    <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, booking_path(booking), method: :delete, data: {confirm: "Es-tu sûr d'annuler cette réservation ?"}, class: "btn-green" %>
                  <% end %>
              </div>
            <% end %>
        <% else %>
          <div class="reservations-coach-as-user">
            <p>Tu n'as pas de réservations en cours...</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="profile-identity">
      <div class="profile-image">
        <%= cl_image_tag @current_user.photo.key, id: "show-profile", crop: :thumb, gravity: :face %>
      </div>
      <div class="profile-infos">
        <p><span class="bold">Nom : </span><%= current_user.last_name.capitalize %></p>
        <p><span class="bold">Prénom : </span><%= current_user.first_name.capitalize %></p>
        <p><i class="fas fa-birthday-cake"></i> <%= current_user.birth_date.strftime("%e %m %Y") %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= current_user.address %></p>
        <p><i class="fas fa-at"></i> <%= current_user.email %></p>
        <br>
        <%= link_to "Modifier", edit_user_registration_path, class: "btn-green client", id: "user-modif" %>
      </div>
      <div class="coach-seance">
        <h5 class="card-title">Ta séance </h5>
          <% current_user.skills.each do |skill|  %>
            <p><span class="bold">Description : </span><%= skill.description%></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= skill.location%></p>
              <% skill.experiences.each do |experience| %>
                <p><i class="fas fa-tags logo-price"></i>  <%= experience.price %> €/h</p>
                <%= link_to "Modifier", edit_experience_path(experience), class: "btn-green" %>
              <% end %>
          <% end %>
      </div>
    </div>
    <div class="profile-tableau">
      <h3 class="titre"><i class="far fa-clipboard"></i> Tableau de bord Pro</h3>
      <hr>
      <div class="profile-resas">
        <div class="resas-en-cours">
          <h3>Réservations en cours<i class="fas fa-caret-down"></i></h3>
          <% if current_user.received_bookings.live.any? %>
            <% current_user.received_bookings.live.each do |received_booking| %>
              <div class="reservations-en-cours-coach">
                <p><span class="bold">Ton client :</span> <%= received_booking.user.first_name.capitalize %> <%= received_booking.user.last_name.capitalize %></p>
                <p><i class="far fa-calendar-alt"></i> <%= received_booking.start_date.to_date.strftime("%e %m %Y")%></p>
                <p><i class="far fa-clock"></i> <%= received_booking.start_hour %>h à <%= received_booking.end_hour %>h</p>
                <hr>
                <p>Totals : <%= received_booking.total_price %> €</p>
                <% if policy(received_booking).destroy? %>
                  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, booking_path(booking), method: :delete, data: {confirm: "Es-tu sûr d'annuler cette réservation ?"}, class: "btn-green" %>
                <% end %>
                <% if policy(received_booking).update_status? %>
                  <% if received_booking.status != "accepté" %>
                    <%= link_to 'accepter', skill_booking_update_status_path(received_booking.skill, received_booking), method: :get, class: "btn-green" %>
                  <% else %>
                  <p>Accepté</p>
                  <% end %>
                <% end %>
              </div>

            <% end %>
          <% else %>
            <div class="reservations-en-cours-coach">
              <p>Tu n'as pas de réservation actuellement...</p>
            </div>
          <% end %>
        </div>
        <div class="reviews">
          <h3>Commentaires clients<i class="fas fa-caret-down"></i></h3>
          <% if current_user.reviews.any? %>
            <div class="reviews-coach">
              <% current_user.reviews.last(3).each do |review| %>
                <p><%= review.user.first_name.capitalize %> <%= review.user.last_name.first %></p>
                <p><%= review.content %></p>
                <div class="rating">
                  <%= review.rating.times do %>
                        <i class="fas fa-star"></i>
                  <% end %>
                </div>
                <% end %>
            </div>
          <% else %>
            <div class="reviews-coach">
              <p>Pas de commentaires pour le moment...</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
