<!DOCTYPE html>
<html>
  <head>
    <title>TrainUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <div class="<%= "container custom-container" unless (controller.controller_name == "pages" && controller.action_name == "home") || (controller.controller_name == "skills" && controller.action_name == "show") || (controller.controller_name == "pages" && controller.action_name == "profile") %>">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
